/* Custom Helper Clasess */
body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  overflow-x: hidden;
}

.section {
  min-height: 100vh;
  // .title {
  //   position: relative;
  //   &:before {
  //     @include setBefore(absolute, auto, auto, -15px, 0px, 1, 75px, 5px, $defDash);
  //   }
  // }
}

.oh {
  overflow: hidden;
}