// Color Variables
$white: white;
$black: black;
$blue: blue;
$defDash: #FFC60D;
$copyRight: #001520;
$mapOverlay: #1C2D3D;
$sideNav: #001A2C;

// Media Size
$desktop: '(max-width: 1199.98px)';
$tablet: '(max-width: 991.98px)';
$mobile: '(max-width: 575.98px)';